.App {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1080px;
    height: fit-content;
    margin: 0;
  }
  .event__item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    background: #e5e2cf;
    width: 96%;
  }
  .title {
    width: 100%;
    display: flex;
    justify-content: space-around;
    tr {
      width: 100%;
      display: flex;
      justify-content: space-around;
  
      th {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .event {
    width: 96%;
    height: 72px;
    display: flex;
    background: #e5e2cf;
    justify-content: space-around;
    align-items: center;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-new-button {
    height: 43px;
    width: 156px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    background-color: #008dbf;
    border: none;
    font-size: larger;
  }
  .event-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
  }
  .outer {
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #e5e2cf;
    margin-top: 10px;
    padding-bottom: 40px;
  }
  .title {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .event__name {
    width: 100px;
  }
  .name_new {
    width: 150px;
  }
  .event__start {
    width: 200px;
  }
  .event__end {
    width: 100px;
    position: relative;
    right: 19px;
  }
  .event__actions {
    width: 140px;
    position: relative;
  }
  .event__del-btn {
    background-color: #d74047;
    color: white;
    border: none;
    width: 57px;
    height: 30px;
    border-radius: 7px;
    margin-right: 10px;
    cursor: pointer;
  }
  .event__edit-btn {
    background-color: #008dbf;
    color: white;
    border: none;
    width: 57px;
    height: 30px;
    border-radius: 7px;
    cursor: pointer;
  }
  .event__save-btn {
    background-color: #008dbf;
    color: white;
    border: none;
    width: 57px;
    height: 30px;
    border-radius: 7px;
    margin-right: 10px;
    cursor: pointer;
  }
  .event__cancel-btn {
    background-color: #d74047;
    color: white;
    border: none;
    width: 57px;
    height: 30px;
    border-radius: 7px;
    margin-right: 10px;
    cursor: pointer;
  }
  .event__edit_save-btn {
    background-color: #008dbf;
    color: white;
    border: none;
    width: 57px;
    height: 30px;
    border-radius: 7px;
  }
  .event__edit_cancel-btn {
    background-color: #d74047;
    color: white;
    border: none;
    width: 57px;
    height: 30px;
    border-radius: 7px;
  }
  